body{
	margin:0;
}
.button{
	display:inline-block;
	width:100px;
	height:100px;
	text-align:center;
	vertical-align:bottom;
	margin:5px;
	background-color:#FFDD00;
}
#top{
	background-color:#888888;
	padding:0;
	margin:0;
	width:100%;
}
#user{
	width:500px;
	height:100%;
	background-color:#8888FF;
	display:inline-block;
}
#main{
	display:inline-block;

}